/* Fonts */
/* Colors */
/* Basic CSS */
html {
  min-height: 100%; }

body {
  margin-top: 15px;
  font: normal normal 400 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serf;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-focus-inner {
  border: 0; }

em, i {
  font-style: italic; }

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 700; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .75em;
  margin: 2.33em 0; }

hr {
  height: 1px;
  border: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 1em 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%; }

table {
  table-layout: fixed;
  width: 100%; }
  table th {
    text-align: left; }
    table th[align="left"] {
      text-align: left; }
    table th[align="center"], table th[align="middle"] {
      text-align: center; }
    table th[align="right"] {
      text-align: right; }

.placeholder {
  color: rgba(0, 0, 0, 0.5); }

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); }

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5); }

label, input, select, textarea, button, button[type="button"], input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; }

form label, form input, form button, form select, form textarea {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100%;
  outline: none;
  border: none;
  margin-bottom: 1em;
  padding: 0.4em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border 0.2s ease; }
  form label:focus, form input:focus, form button:focus, form select:focus, form textarea:focus {
    border: 1px solid rgba(0, 0, 0, 0.5); }
form input[type="submit"], form button, form button[type="button"], form input[type="button"], form input[type="reset"], form input[type="submit"] {
  width: auto;
  padding: 0.4em 1em; }
  form input[type="submit"]:hover, form button:hover, form button[type="button"]:hover, form input[type="button"]:hover, form input[type="reset"]:hover, form input[type="submit"]:hover {
    background: black; }
form textarea {
  max-width: 100%; }

.center {
  text-align: center;
  padding: 0 2em; }
  .center img {
    max-width: 100%;
    height: auto; }

/* ############################## */
/*            Main CSS            */
/* ############################## */
/* Back to Top */
.cabecalho {
  background-color: #FF5722;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 30px 0px;
  margin-bottom: 20px; }
  .cabecalho h2:hover {
    color: #E91E63; }

.bloco .item {
  text-align: center; }
  .bloco .item a {
    color: black; }
    .bloco .item a:hover {
      text-decoration: none; }
  .bloco .item div {
    padding: 20px 0;
    background-color: #FFEB3B;
    border-bottom: 4px solid #F8BBD0;
    border-right: 4px solid #F8BBD0; }
  .bloco .item i {
    font-size: 5em;
    color: #E040FB; }
    .bloco .item i:hover {
      color: black; }
  .bloco .item span {
    display: block; }

/* Responsive CSS */
/* Tablets */
/* Mobile */
